.header{
  width: 100vh;
}
.apple{
  display: flex;
  gap: 24px;
}
nav {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  height: 44px;
}
.apple-icon {
  width: 13px;
  height: 16px;
}
.deed-tses {
  font-size: 12px;
  font-weight: 400;
  color: black;
}
.haih-icon {
  width: 13px;
  height: 13px;
}
.store-icon {
  width: 13px;
  height: 15px;
}
.add{
  display: flex;
  width: 40%;
  gap: 10px;
}
.holbogdoh-box{
  display: flex;
  flex-flow: wrap;
  width: 20%;
  height: 100%;
border-radius: 18px;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.woman {
  width: 30%;
  height: 30%;
  background: url("./woman.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.holbogdoh-title {
  font-size: 14px;
  color: black;
}
.holbogdoh-title2 {
  font-size: 14px;
  color: blue;
}
.tom{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.tailbar-heseg {
  font-size: 14px;
  height: 60px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  box-shadow: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
}
.rainbow {
  height: 75px;
  background: url("./dolgoin.png");
  background-position: center;
  background-size: cover;
}
.deed-tailbar {
  display: flex;
}
.frame1 {
  position: relative;
  left: 70px;
  display: flex;
  flex-direction: column;
}
.store-heseg {
  width: 80%;
  display: flex;
  justify-content: space-around;
  gap: 32px;
  padding-left: 20px;
  padding-top: 20px;
}
.store-title {
 font-size: 44px;
font-weight: 700;
   margin-bottom: 40px;
  text-align: center;
   font-size: 50px;
      background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
  -webkit-background-clip: text;
	color: transparent;
 font-size: 44px;
font-weight: 700;
}
.gift-title {
  font-size: 44px;
  font-weight: 700;
  font-style: bold;
  color: rgba(110, 110, 115, 1);
}
.branduud {
  display: flex;
  gap: 60px;
  padding-top: 60px;
  overflow: scroll;
  scrollbar-width: smooth;
  padding-bottom: 10px;
}
.apple-pic {
  width: 120%;
  height: 78%;
  padding-bottom: 10px;
}
.titleluud {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 700;
  color: black;
  padding-left: 15px;
}
strong {
  font-size: 24px;
  font-weight: 700;
   background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
  -webkit-background-clip: text;
	color: transparent;
}
.scrolltoi-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 80px;
}
.the-latest {
  display: flex;
  gap: 32px;
}
.latest-title {
  color: gray;
  font-size: 44px;
font-weight: 700;
}
strong{
  font-size: 30px;
}
.scroll-brand{
    display: flex;
  overflow-x: scroll;
  align-items: center;
  border-radius: 8px;
  scroll-behavior: smooth;
  gap: 15px;
}
.iph16 {
  background: url("iph16pro.jpg");
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: 17px;
  padding-top: 30px;
  padding-left: 30px;
}
.person{
  display: flex;
  gap: 25px;
  padding-top: 60px;
  padding-bottom: 10px;
}
.apple-title {
  font-size: 12px;
  color: rgba(182, 68, 0, 1);
  font-style: bold;
  font-weight: 700;
}
.iph16pro {
  color: black;
  font-size: 26px;
  font-weight: 700;
  font-style: bold;
}
.une {
  font-size: 18px;
  font-weight: 400;
}
.watch {
  background: url("./watch16.jpg");
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: 17px;
  padding-top: 30px;
  padding-left: 30px;
}
.ipad {
  background: url("./ipad.jpg");
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: 17px;
  padding-top: 30px;
  padding-left: 30px;
}
.mac {
  background: url("./mac\ pro.jpg");
  background-position: center;
  background-size: cover;
  width: 480px;
  height: 500px;
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: 17px;
  padding-top: 30px;
  padding-left: 30px;
}
.person {
  display: flex;
}
.person-pic {
 font-size: 44px;
font-weight: 700;
 background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
  -webkit-background-clip: text;
	color: transparent;
}
.scroll-brand1{
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.backround{
background: url("./airpod.jpg");
background-position: center;
background-size: cover;
width: 400px;
height: 500px;
border-radius: 18px;
}
.backround-mini{
  width: 313px;
height: 500px;
border-radius: 18px;
background-color:#fff;
display: flex;
flex-direction: column;
box-shadow: 2px 4px 12px 0px #00000014;
}
.model{
  background-position: center;
  background-size: cover;
  width: 230px;
height: 230px;
position: relative;
top: 50px;
left: 30px;
}
.model-dood{
  position: relative;
  top: 50px;
  left: 15px;
  width: 257px;
height: 109px;
border-radius: 2px solid black;
}
.model-dood1{
  position: relative;
  top: 100px;
  left: 15px;
  width: 257px;
height: 109px;
border-radius: 2px solid black;
}
.make{
  display: flex;
  font-size: 26px;
  font-weight: 700;
  color: black;
  position: relative;
  top: 53px;
  left: 30px;
  width: 197px;
height: 66px;
flex-flow: wrap;
}
.free{
  color: #B64400;
  font-size: 12px;
 font-weight: 700;
  display: flex;
}
.ner{
  font: 18px;
  color: black;
  font-weight: 700;
  padding-top: 5px;
}
.une{
  font-size: 14px;
  position: relative;
  top: 50px;
}
.ungiin-songolt{
  width: 253px;
height: 58px;
opacity: 1;
display: flex;
justify-content: center;
align-items: center;
position: relative;
top: 30px;
gap: 10px;
}
.ungu1{
  background: url("./ungu1.jpg");
   background-position: center;
   background-size: cover;
   opacity: 1;
  width: 12px;
height: 12px;
}
.ungu2{
   background: url("./ungu2.jpg");
   background-position: center;
   background-size: cover;
   opacity: 1;
  width: 12px;
height: 12px;
}
.ungu3{ background: url("./ungu3.jpg");
   background-position: center;
   background-size: cover;
   opacity: 1;
  width: 12px;
height: 12px;}
.ungu4{
   background: url("./ungu4.jpg");
   background-position: center;
   background-size: cover;
   opacity: 1;
  width: 12px;
height: 12px;
}
.ungu5{
  background: url("./ungu5.jpg");
   background-position: center;
   background-size: cover;
   opacity: 1;
  width: 12px;
height: 12px;
}
.only-title{
  display: flex;
  position: relative;
  top: 30px;
}
.only{
 font-size: 44px;
font-weight: 700;
 background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
  -webkit-background-clip: text;
	color: transparent;
}
.with{
  color: rgba(110, 110, 115, 1);
 font-size: 44px;
font-weight: 700;
}
.title{
   color: rgba(110, 110, 115, 1);
 font-size: 44px;
font-weight: 700;
}
.box{
  display: flex;
  position: relative;
  top: 30px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.box1{
  width: 480px;
height: 500px;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
background:url("./l.jpg");
background-position: center;
background-size: cover;
padding-top: 50px;
padding-left: 30px;
font-size: 26px;
color: black;
font-weight: 700;
border-radius: 18px;
}
.jijig-box{
  width: 313px;
height: 240px;
border-radius: 18px;
background: rgba(255, 255, 255, 1);
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
font-size: 22px;
font-weight: 700;
display: flex;
position: relative;
left: 150px;
text-align: center;
justify-content: center;
}
.box2{
  background: url("./2hand.jpg");
   background-position: center;
  background-size: cover;
  width: 480px;
height: 500px;
margin-right: 20px;
border-radius: 18px;
 padding-top: 40px;
 padding-left: 30px;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.box22{
  font-size:26px;
color: black;
font-weight: 700;
padding-top: 20px;
}
.box3{
  background-image: url("./indian\ woman.jpg");
  background-position: center;
  background-size: cover;
  width: 400px;
 padding-top: 40px;
 padding-left: 30px;
border-radius: 18px;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.box33{
  font-size:26px;
color: black;
font-weight: 700;
padding-top: 20px;
}
.mini{
  font-size: 12px;
  color: rgba(110, 110, 115, 1);
  font-weight: 700;
}
.fav1{
  background: url("./pic1.jpg");
  background-position: center;
  background-size: cover;
  width: 400px;
height: 500px;
font-size: 26px;
font-weight: 700;
border-radius: 18px;
box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.08);
text-align: center;
padding-top: 30px;
width: 30%;
}
.fav{
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.fav2{
border-radius: 18px;
box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.fav3{
border-radius: 18px;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.fav4{
border-radius: 18px;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.fav5{
border-radius: 18px;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.pic2{
  background: url("./pic1.jpg");
  background-position: center;
  background-size: cover;
  width: 230px;
  height: 230px;
}
.pic3{
  background: url("./pic3.jpg");
  background-position: center;
  background-size: cover;
  width: 230px;
  height: 230px;
}
.pic4{
  background: url("./pic4.jpg");
  background-position: center;
  background-size: cover;
  width: 230px;
  height: 230px;
}
.pic5{
  background: url("./pic5.jpg");
  background-position: center;
  background-size: cover;
  width: 230px;
  height: 230px;
}
.ungiin-songolt1{
  width: 253px;
height: 58px;
opacity: 1;
display: flex;
justify-content: center;
align-items: center;
position: relative;
top: 30px;
gap: 10px;
}
.ungu-1{
background: url("./sahr.jpg");
   background-position: center;
   background-size: cover;
   opacity: 1;
  width: 12px;
height: 12px;
}
.ungu-2{
background: url("./blu.jpg");
   background-position: center;
   background-size: cover;
   opacity: 1;
  width: 12px;
height: 12px;
}
.ungu-3{
background: url("./brom.jpg");
   background-position: center;
   background-size: cover;
   opacity: 1;
  width: 12px;
height: 12px;
}
.ungu-4{
background: url("./zel.jpg");
   background-position: center;
   background-size: cover;
   opacity: 1;
  width: 12px;
height: 12px;
}
.ungu-5{
background: url("./as.jpg");
   background-position: center;
   background-size: cover;
   opacity: 1;
  width: 12px;
height: 12px;
}
.ungu-6{
background: url("./ungu5.jpg");
   background-position: center;
   background-size: cover;
   opacity: 1;
  width: 12px;
height: 12px;
}
.fav-dood{
  padding-top: 40px;
  padding-left: 20px;
}
.free-1{
  font-weight: 700;
padding-bottom: 10px;
color: rgba(182, 68, 0, 1);
padding-top: 10px;
font-size: 12px;
}
.ner-1{
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.une-1{
  padding-top: 30px;
}
.tsul1{
  display: flex;
  flex-direction: column;
}
.tsul{
  display: flex;
  flex-direction: column;
}
.jijig-box1{
  background-color: white;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
font-size: 26px;
color: black;
font-weight: 700;
width: 313px;
height: 240px;
border-radius: 18px;
display: flex;
align-items: center;
margin: 20px;
}
.only-title{
margin: 60px;
margin-left: 0;
margin-top: 20px;
display: flex;
  gap: 20px;
}
.tavdah-menu{
margin-top: 20px;
position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.suuliin-menu{
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.ungulug{
  font: 30px;
  color: black;
  background: linear-gradient(90deg, red yellow
  purple blue);
}
.reklam-1{
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.reklam{
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.zuragnuud1{
  background: url("./fpic1.jpg");
   background-position: center;
  background-size: cover;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
width: 480px;
height: 500px;
border-radius: 18px;

}.zuragnuud2{
  background: url("./pic2.png");
   background-position: center;
  background-size: cover;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
width: 480px;
height: 500px;
border-radius: 18px;
}
.zuragnuud3{
  background: url("./pic3\ icon.jpg");
   background-position: center;
  background-size: cover;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
width: 480px;
height: 500px;
border-radius: 18px;
}
.zuragnuud4{
  background: url("./pic4\ ja.jpg");
   background-position: center;
  background-size: cover;
box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
width: 480px;
height: 500px;
border-radius: 18px;
}
.apple-reklam1{
  background: url("./late1.jpg");
  background-position: center;
  background-size: cover;
width: 450px;
height: 500px;
box-shadow: 2px 4px 12px 0px #00000014;
border-radius: 18px;
}
.apple-reklam2{
  background: url("./late2.jpg");
  background-position: center;
  background-size: cover;
width: 450px;
height: 500px;
box-shadow: 2px 4px 12px 0px #00000014;
border-radius: 18px;
}
.apple-reklam3{
  background: url("./late3.jpg");
  background-position: center;
  background-size: cover;
width: 450px;
height: 500px;
box-shadow: 2px 4px 12px 0px #00000014;
border-radius: 18px;
}
.apple-reklam4{
  background: url("./late4.jpg");
  background-position: center;
  background-size: cover;
width: 450px;
height: 500px;
box-shadow: 2px 4px 12px 0px #00000014;
border-radius: 18px;
}
.apple-reklam5{
  background: url("./late5.jpg");
  background-position: center;
  background-size: cover;
width: 450px;
height: 500px;
box-shadow: 2px 4px 12px 0px #00000014;
border-radius: 18px;
}
.type{
  position: relative;
  top: 50px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.apple-music{
  font-weight: 700;
  font-size: 12px;
  font-style: bold;
  color:gray;
}
.get{
   font-weight: 700;
  font-size: 26px;
  font-style: bold;
  color:black;
  width: 45%;
}
.get1{
   font-weight: 400;
  font-size: 26px;
  color:black;
  width: 45%;
}
.get4{
  color: white;
  font-weight: 700;
  font-style: bold;
  font-size: 26px;
  width: 70%;
}
.get2{
   color: black;
  font-weight: 700;
  font-style: bold;
  font-size: 26px;
  width: 80%;
}
.get3{
   color: black;
  font-weight: 400;
  font-size: 17px;
  width: 84%;
}
.quick-title{
   color: black;
  font-weight: 700;
  font-size: 26px;
  font-style: bold;
  margin-top: 60px;
  margin-bottom: 40px;
}
.tab{
  display: flex;
  gap: 25px;
}
.link{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 999px;
  height: 40px;
  width: 125px;
  gap: 10px;
  align-items: center;
}
.sum{
  background-position: center;
  background-size: cover;
  background: url("./sum.png");
  width: 8px;
  height: 8px;
}
.a{
  display: flex;
  flex-direction: column;
}
/* FOR phone */
@media screen and (max-width:430px) and (min-width:320px) {
  .apple-icon{
   width: 29px;
    height: 28px;
    padding-left:0;
    justify-content: center;
  }
  .person{
    gap: 10px;
  }
  .haih-icon{
 width: 29px;
    height: 28px;
  }
  .store-icon{
   width: 29px;
    height: 28px;
    padding-left: 0;
  }
 .deed-tses{
  font-size: 0;
 }
 .deed-tailbar{
  justify-content: center;
  text-align: center;
  font-size: 110px;
 }
 .holbogdoh-box{
width: 900px;
  display: flex;
  position: relative;
  top: 60px;
right: 180px;
 }
 .add{
  position: relative;
  right: 50px;
  display: flex;
  gap: 20px;
 }
 .branduud{
  margin-top: 80px;
 }
 .store-heseg{
  display: flex;
  padding-left: 0;
 }
.apple-pic{
  display: inline;
  width: 180%;
}
.store-title{
    font-size:20px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }
 .gift-title{
  font-size:20px;
  color: gray;
  display: flex;
  flex-direction: row;
 }
 .title{
 font-size: 20px;
  font-weight: 700;
 }
   .rainbow{
    width: 425px;
height: 15px;
   }
  .iph16{
    height: 200px;
    width: 250px;
  }
  .watch{
    height: 200px;
    width: 250px;
  }
.ungu-back{
  text-align: center;
}
.ipad{
    height: 200px;
    width: 250px;
}
.mac{
    height: 200px;
    width: 250px;
}
strong{
  font-size: 20px;
  font-weight: 700;
}
.latest-title{
  font-size: 20px;
  font-weight: 700;
}
.person-pic{
  font-size: 20px;
  font-weight: 700;
}
.scrolltoi-title{
    padding-top: 50px;
}
.reklam{
  display: inline-flex;
}
.reklam-1{
  display: inline-flex;
}
.box{
  display: inline-flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.fav{
  display: inline-flex;
}
.tab{
  width:150px;
  height: 50px;
  text-align: center;
  justify-content: center;
  padding-right: 60px;
}
.only{
  font-size: 20px;
   background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
  -webkit-background-clip: text;
	color: transparent;
}
.with{
  font-size: 20px;
}
.une{
  position: relative;
  top: 0;
}
.mac .une{
  color: white;
}
.tom{
  padding-left: 20px;
}
.woman{
  padding-left: 20px;
  background: none;
}
}
/* FOR TABLET */
@media screen and (max-width:1024px) and (min-width:768px){
.iph16{
height: 500px;
  width: 400px;
}
.watch{
  height: 500px;
  width: 400px;
}
.ipad{
  height: 500px;
  width: 400px;
}
.mac{
  height: 500px;
  width: 400px;
}
.backround{
  width: 313px;
}
.backround-mini{
  width: 303px;
}
.store-title{
  font-size: 34px;
    font-weight: 700;
}
.gift-title{
  font-size: 34px;
    font-weight: 700;
}
.latest-title{
   font-size: 34px;
    font-weight: 700;
}
.person-pic{
   font-size: 34px;
    font-weight: 700;
}
.fav{
  display: inline-flex;
}
.box{
  display: inline-flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.reklam{
  display: inline-flex;
}
.reklam-1{
  display: inline-flex;
}
.story-heseg{
  padding-left: 0;
  width: 80%;
}
.woman{
  width: 20%;
  height: 35%;
}
.une{
  position: relative;
  top: 0;
}
.holbogdoh-box{
  height: 100%;
  width: 40%;
}
.add{
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
strong{
    font-size: 34px;
    font-weight: 700;
}
.only{
   font-size: 34px;
    font-weight: 700;
}
}
/* For com */
@media screen and (max-width:1440px) and (min-width:1024px){
  .type{
    position: relative;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  }
  .story-title{
    font-size: 44px;
    font-weight: 700;
  }
  .only{
     font-size: 34px;
    font-weight: 700;
  }
  .title{
      font-size: 34px;
    font-weight: 700;
  }
  .with{
       font-size: 34px;
    font-weight: 700;
  }
  .gift-title{
     font-size: 44px;
    font-weight: 700;
  }
}